.git
.gitignore
.env
.env.local
.env.*.local
/vendor
/node_modules
/var
/public/bundles
/public/build
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep
!.env.test
.idea
.phpunit.result.cache
.phpunit.cache
docker-compose.override.yml






