services:
  php:
    build:
      context: ./backend
      dockerfile: docker/php/Dockerfile
    container_name: novera_php
    volumes:
      - ./backend:/var/www/html:rw
      - ./backend/docker/php/php.ini:/usr/local/etc/php/conf.d/app.ini:ro
      - ./backend/docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
    working_dir: /var/www/html
    depends_on:
      - database
    networks:
      - novera_network
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: nginx:alpine
    container_name: novera_nginx
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./backend:/var/www/html:ro
      - ./backend/docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
    networks:
      - novera_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: novera_frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      nginx:
        condition: service_started
    networks:
      - novera_network
    restart: unless-stopped

  database:
    image: postgres:${POSTGRES_VERSION}-alpine
    container_name: novera_database
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - novera_network

networks:
  novera_network:
    driver: bridge

volumes:
  database_data:
